nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 5px 25px 35px;
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.enlaces {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cake {
    width: 10%;
    padding-right: 0%;
}

.nombre {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}